﻿<div class="row">
    <div class="pull-left" style=" padding: 10px; font-size:30px;">
        <h1>Progress {{activityInfo}}!</h1>
        <div *ngIf="loadingFailed">
            <span (click)="loadAgain()">Try Again</span>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <p><a style="padding-top: 10px; padding-bottom: 10px;" class="btn btn-info" [routerLink]="['/addNote']" role="button">Add Note &raquo;</a></p>
        <div class="scroll-div">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Note ID</th>
                        <th>Text</th>
                        <th>Updated</th>
                        <th>Version</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let note of Notes">
                        <td>
                            {{ note.id }}
                        </td>
                        <td>
                            {{ note.text }}
                        </td>
                        <td>
                            {{ note.updated }}
                        </td>
                        <td>
                            {{ note.version }}
                        </td>
                        <td>
                            <a style="width: 130px; margin-right: 20px; float: left; padding-top: 8px; padding-bottom: 8px;" class="btn btn-md btn-info btn-block"
                                [routerLink]="['/editNote', note.id]">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div style=" margin-top:10px;">
        <h3>Notifications</h3>
         <button style="width: 130px; margin-left: 10px " class="btn btn-md btn-info btn-block pull-right"
                                    (click)="clearNotifications()">Clear</button>
        <div class="scroll-div">
            <ol>
                <li *ngFor="let not of notifications">
                    {{not}}
                </li>
            </ol>
        </div>
    </div>
</div>-->