﻿    <form class="pull-left add-medicine" role="form" >
        <h2 class="form-login-heading">Add medicine</h2>
        <input type="text" class="form-control add-margin-bottom " placeholder="Name" data-ng-model="medicine.Name" required autofocus>
        <input type="text" class="form-control add-margin-bottom " placeholder="AddedDate" data-ng-model="medicine.AddedDate" required>
        <textarea class="form-control add-margin-bottom " placeholder="Description" data-ng-model="medicine.Description" required></textarea>
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="addMedicine()">Submit</button>
        <div data-ng-hide="addMedicineMessage == ''" data-ng-class="(addMedicineSavedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{addMedicineMessage}}
        </div>
    </form>
