﻿<form class="pull-left add-medicine" role="form">

    <h2 class="form-login-heading">Edit medicine</h2>

    <input type="text" class="form-control add-margin-bottom " placeholder="Name" data-ng-model="editMedicine.Name"  ng-value="editMedicine.Name" required autofocus>

    <input type="text" class="form-control add-margin-bottom " placeholder="AddedDate" data-ng-model="editMedicine.AddedDate" ng-value="editMedicine.AddedDate" required>

    <textarea class="form-control add-margin-bottom " placeholder="Description" data-ng-model="editMedicine.Description" ng-value="editMedicine.Description" required></textarea>

    <input type="hidden" data-ng-model="editMedicine.Id" ng-value="editMedicine.Id">
    <input type="hidden" data-ng-model="medicine.UserId" ng-value="medicine.UserId">

    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="editMedicineSave()">Submit</button>
    <div data-ng-hide="addMedicineMessage == ''" data-ng-class="(editMedicineSavedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{editMedicineMessage}}
    </div>
</form>
