﻿<div class="row">
    <div class="col-md-12">
        <p><a style="padding-top: 10px; padding-bottom: 10px;" class="btn btn-info" href="#/addMedicine" role="button">Add medicine &raquo;</a></p>
        <div class="scroll-div"><table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Medicine ID</th>
                <th>Name</th>
                <th>AddedDate</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="medicine in medicines">
                <td>
                    {{ medicine.id }}
                </td>
                <td>
                    {{ medicine.name }}
                </td>
                <td>
                    {{ medicine.addedDate }}
                </td>
                <td>
                    {{ medicine.description }}
                </td>
                <td>
                    <a style="width: 130px; margin-right: 20px; float: left; padding-top: 8px; padding-bottom: 8px;" href="#/editMedicine/{{medicine.id}}" class="btn btn-md btn-info btn-block" data-ng-click="editMedicineLoad(medicine.id)">Edit</a>
                    <button style="width: 130px; float: left; margin-top: 0px; padding-top: 8px; padding-bottom: 8px;" class="btn btn-md btn-info btn-block" data-ng-click="deleteMedicine(medicine.id)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table></div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>