﻿<div class="row">

    <div class="pull-left" style=" padding: 10px; font-size:30px;">
        <h1>Hi {{currentUser.id}}!</h1>
        <p>You're logged in with Angular 2!!</p>
        <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <p><a style="padding-top: 10px; padding-bottom: 10px;" class="btn btn-info" [routerLink]="['/addMedicine']" role="button">Add medicine &raquo;</a></p>
        <div class="scroll-div">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Medicine ID</th>
                        <th>Name</th>
                        <th>AddedDate</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let medicine of medicines">
                        <td>
                            {{ medicine.id }}
                        </td>
                        <td>
                            {{ medicine.name }}
                        </td>
                        <td>
                            {{ medicine.addedDate | date: 'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ medicine.description }}
                        </td>
                        <td>
                            <a style="width: 130px; margin-right: 20px; float: left; padding-top: 8px; padding-bottom: 8px;" class="btn btn-md btn-info btn-block"
                                [routerLink]="['/editMedicine', medicine.id]">Edit</a>
                                <button style="width: 130px; float: left; margin-top: 0px; padding-top: 8px; padding-bottom: 8px;" class="btn btn-md btn-info btn-block"
                                    (click)="deleteMedicine(medicine.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div style=" margin-top:10px;">
        <h3>Notifications</h3>
         <button style="width: 130px; margin-left: 10px " class="btn btn-md btn-info btn-block pull-right"
                                    (click)="clearNotifications()">Clear</button>
        <div class="scroll-div">
            <ol>
                <li *ngFor="let not of notifications">
                    {{not}}
                </li>
            </ol>
        </div>
    </div>
</div>